<!DOCTYPE html>
<html lang="en">
    <head>
        <title>404: Not found</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/views/error/error.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Assistant:300" rel="stylesheet">
    </head>
    <body>
        <div id="base">
            <div id="error">
                <img src="/data/img/404notfound.png">
                <h3>
                    <%= error %>
                </h3>
            </div>
        </div>
    </body>
</html>