body {
    background-image: url("https://images.unsplash.com/photo-1557626204-59dd03fd2d31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-size: cover;
    background-attachment: fixed;
}

#base {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

#bar {
    width: 100%;
    background-color: #3b3b4e;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    height: 1vh;
    z-index: 4;
}

#options {
    background-color: #43435a;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    height: 4vh;
    width: 99%;
    margin: auto;
    border-radius: 0px 0px 2px 2px;
    min-height: 40px;
    z-index: 3;
    display: flex;
    justify-content: center;
}

#options>div {
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    transition: background-color 0.35s;
}

#options>div a {
    display: block;
    height: 50%;
    padding: 1% 0% 5% 0%;
    text-align: center;
    width: 100%;
    text-decoration: none;
    padding-top: 1%;
    color: #fff;
}

#options>div:hover {
    background-color: #626279;
}

#desktop {
    width: 100%;
    height: 82vh;
    margin: auto;
}

.note {
    position: absolute;
    max-height: 400px;
    min-width: 250px;
    width: 13%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    z-index: 1;
    border-radius: 3px 3px 0px 0px;
    color: #1a1a1b;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.note_header {
    background-color: #3b3b4e;
    color: white;
    padding: 7px;
    transition: padding 0.25s;
    text-align: center;
    font-size: 25px;
    border-radius: 2px 2px 0px 0px;
    border: 2px solid #3b3b4e;
}

.note_header span {
    position: relative;
    left: 10%;
    display: block;
    width: 80%;
}

.note p {
    text-align: center;
}

.note_header:hover {
    padding: 11px;
}

.note_header a {
    text-decoration: none;
    font-size: 15px;
    float: right;
    color: #fc8f63;
}

#desktop>h1 {
    text-align: center;
    color: #fff;
}

#contextMenu {
    width: 200px;
    background-color: white;
    position: absolute;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    z-index: 2;
    border-radius: 2px;
}

#contextMenu a {
    text-align: center;
    display: block;
    width: 100%;
    text-decoration: none;
    color: black;
    border-radius: 2px;
}

#contextMenu a:hover {
    background-color: #3b3b4e;
    color: #ffff;
}

#dialogManager {
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #3b3b4ebd;
    display: none;
    position: fixed;
}

#noteManager, #categoryManager, #groupManager {
    display: none;
}

.manager {
    background-color: #fff;
    height: 60%;
    width: 50%;
    margin: auto;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    z-index: 3;
    display: flex;
    align-items: center;
    max-height: 700px;
}

.manager h3 {
    font-family: 'Assistant', sans-serif;
    font-weight: normal;
    font-size: 22px;
    width: 85%;
    margin: auto;
    margin-bottom: 5px;
}

.manager form {
    display: block;
    width: 70%;
    height: 90%;
    margin: auto;
    max-height: 500px;
}

.manager input, .manager textarea {
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 15px;
    background-color: #3b3b4e;
    padding: 1% 0.5% 1% 0.5%;
    border: 3px solid #3b3b4e;
    color: white;
    resize: none;
}

.manager select[name="category"] {
    width: 82%;
    margin: auto;
    display: block;
    background-color: #3b3b4e;
    padding: 1% 0.5% 1% 0.5%;
    border: 3px solid #3b3b4e;
    color: #ffff;
    appearance: none;
}

.manager input[type="submit"] {
    width: 40%;
    margin: initial;
    font-size: 13px;
}

.manager input[type="submit"]:hover {
    cursor: pointer;
}

.manager div {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.cancel_button {
    background-color: #c53030;
    border: 1px solid #c53030;
    text-decoration: none;
    width: 30%;
    text-align: center;
    padding: 1.4% 0.8% 1.4% 0.8%;
    font-size: 13px;
    color: #ffff;
    margin-right: 1%;
}

.cancel_button:hover {
    cursor: pointer;
}

#close_X {
    text-decoration: none;
    color: #fc8f63;
}

#display_log {
    position: absolute;
    width: 100%;
    height: 15%;
    bottom: 3%;
    display: flex;
    align-items: center;
    display: none;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 3;
}

#display_msg {
    width: 50%;
    margin: auto;
    background-color: rgba(255, 0, 0, 0.63);
    font-size: 18px;
    padding: 1.3% 0% 1.3% 0%;
    border-radius: 2px;
    text-align: center;
    color: white;
}

@media only screen and (max-width: 1000px) {

    .note {
        width: 47%;
        margin: 5px;
        float: left;
        position: relative;
        left: unset !important;
        top: unset !important;
    }

    .note_header span {
        left: 2%;
    }

    .note_header:hover {
        padding: 7px;
    }

    .note:nth-child(even) {
        float: right;
    }

    .note:nth-child(odd) {
        float: left;
    }


    #options>div {
        height: 100%;
        width: 25%;
    }
}

@media only screen and (max-width: 700px) {
    .note {
        width: 99%;
        float: none;
        position: relative;
        left: unset !important;
        top: unset !important;
        display: block;
        margin: auto;
        margin-top: 5px;
    }

    .note_header:hover {
        padding: 9px;
    }

    .note:nth-child(even),
    .note:nth-child(odd) {
        float: none;
    }
}