<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/board/board.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> <%= board_title %> - Notiks</title>
</head>
<body>
    <div id="base">
        <div id="options">

        </div>
        <div id="desktop">
            
        </div>
    </div>
</body>
</html>