#base {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f5f5f5;
    min-height: 100vh;
}

#header {
    width: 99%;
    height: 15vh;
    margin: auto;
    margin-top: 1vh;
    border-radius: 2px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    background-image: url("/data/img/test/background.jpg");
    background-size: cover;
    background-position: center;
    background-color: #263238;
}

#header img {
    height: 75%;
    border-radius: 2000px;
    margin: auto;
    display: block;
    border: 5px solid rgba(255, 255, 255, 0.349);
}

#options {
    width: 99%;
    height: 5vh;
    background-color: #43435a;
    margin: auto;
    margin-top: 0.7vh;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

#boards {
    width: 80%;
    margin: auto;
    margin-top: 1.5vh;
    position: relative;
    left: 1%;
}

.board {
    background-color: #fff;
    color: rgb(41, 41, 41);
    border-radius: 2px;
    margin: 0.25%;
    padding: 0.15px 0% 0.15px 0%;
    margin-bottom: 0.5%;
    float: left;
    width: 48%;
    transition: background-color 0.5s;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.board:hover {
    cursor: pointer;
    background-color: rgb(253, 100, 39);
}

.board h2 {
    pointer-events: none;
    font-weight: 100;
    font-size: 19px;
    font-family: 'Assistant', sans-serif;
    position: relative;
    left: 10%;
}

#navigator {
    width: 100%;
    float: left;
    margin: auto;
    margin-top: 1%;
    display: flex;
    justify-content: space-evenly;
}

#navigator button {
    display: block;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    padding: 0.5% 4% 0.5% 4%;
    border: 1px solid #fff;
}

#navigator button:hover {
    cursor: pointer;
}

@media only screen and (max-width: 1100px) {
    #header {
        width: 97%;
        height: 20vh;
    }

    #boards {
        width: 96%;
    }

    .board {
        width: 49%;
        margin-bottom: 7px;
    }
}

@media only screen and (max-width: 800px) {
    #header {
        width: 97%;
        height: 20vh;
    }

    #boards {
        width: 96%;
    }

    .board {
        width: 98%;
        margin-bottom: 7px;
    }

    #options {
        width: 97%;
    }
}