<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/views/boards/boards.css">
    <link href="https://fonts.googleapis.com/css?family=Assistant:300" rel="stylesheet">
    <script src="/views/boards/boards.js"></script>
    <title>My Boards - Notiks</title>
</head>

<body>
    <div id="base">
        <div id="header">
            <div>
                <a href="/aboutme">
                    <img src="/data/img/test/test.jpg">
                </a>
            </div>
        </div>
        <div class="divider"></div>
        <div id="options">
            <div>
                <a href="javascript:newboard()">New board</a>
            </div>
            <div>
                <a href="/config">Settings</a>
            </div>
            <div>
                <a href="/logout">Log out</a>
            </div>
        </div>
        <div id="boards">
            <% boards.forEach((board) => { %>
            <div class="board" id="<%= board.board_id%>">
                <h2><%= board.title %></h2>
            </div>
            <% }); %>
        </div>
        <div id="navigator">
            <button> Previous page </button>
            <button> Next page </button>
        </div>
    </div>
</body>

</html>