<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/views/boards/boards.css">
    <link href="https://fonts.googleapis.com/css?family=Assistant:300" rel="stylesheet">
    <script src="/views/boards/boards.js"></script>
    <title>My Boards - Notiks</title>
</head>

<body>
    <div id="base">
        <div id="header">
            <div>
                <a>
                    <img src="/data/img/test/test.jpg">
                </a>
            </div>
        </div>
        <div class="divider"></div>
        <div id="options">
            <div>
                <a href="javascript:displayBoard(1)">New board</a>
            </div>
            <div>
                <a href="/settings">Settings</a>
            </div>
            <div>
                <a href="/logout">Log out</a>
            </div>
        </div>
        <div id="boards">
            <% let count = 0; %>
            <% boards.forEach((board) => { %>
            <% if(count < 10) { %>
            <div class="board" id="<%= board.board_id%>">
                <h2><%= board.title %></h2>
            </div>
            <% count++ %>
            <% } %>
            <% }); %>
        </div>
        <% if (boards.length < 10) { %>
        <div id="navigator" style="display:none">
        <% } else { %>
        <div id="navigator">
        <% } %>
            <button id="previous" style="opacity: 0;" disabled> Previous </button>
            <button id="next"> Next </button>
        </div>
        <div id="board_dialog">
            <form action="javascript:createBoard()" method="post" id="board_create">
                <input type="text" placeholder="Table title" required>
                <button id="cancelbutton">Cancel</button>
                <input type="submit" value="Create board">
            </form>
        </div>
    </div>
</body>

</html>