<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/views/boards/boards.css">
    <script src="/views/boards/boards.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="base">
        <div id="header">
            <img src="/data/img/test/test.jpg">
        </div>
        <div id="boards">
            <div class="board" id="muchosnumeros">
                <h2>Título</h2>
                <p>Esto es una descripción de un tablero. Sirve para aportar información extra acerca del tablero en sí.</p>
            </div>
            <div class="board">
                <h2>Título</h2>
                <p>Esto es una descripción de un tablero. Sirve para aportar información extra acerca del tablero en sí.</p>
            </div>
            <div class="board">
                <h2>Título</h2>
                <p>Esto es una descripción de un tablero. Sirve para aportar información extra acerca del tablero en sí.</p>
            </div>
            <div class="board">
                <h2>Título</h2>
                <p>Esto es una descripción de un tablero. Sirve para aportar información extra acerca del tablero en sí.</p>
            </div>
            <div class="board">
                <h2>Título</h2>
                <p>Esto es una descripción de un tablero. Sirve para aportar información extra acerca del tablero en sí.</p>
            </div>
            <div class="board">
                <h2>Título</h2>
                <p>Esto es una descripción de un tablero. Sirve para aportar información extra acerca del tablero en sí.</p>
            </div>
            <div class="board">
                <h2>Título</h2>
                <p>Esto es una descripción de un tablero. Sirve para aportar información extra acerca del tablero en sí.</p>
            </div>
            <div class="board">
                <h2>Título</h2>
                <p>Esto es una descripción de un tablero. Sirve para aportar información extra acerca del tablero en sí.</p>
            </div>
        </div>
    </div>
</body>
</html>